<a href="https://colab.research.google.com/github/beka-chanturia/homework/blob/main/ch6_dict_tiy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

person

In [ ]:
person = {
      'first_name' : 'leo',
      'last_name' : 'messi',
      'age' : 34,
      'city' : 'paris',
}

first_name = person['first_name']
last_name = person['last_name']
age = person['age']
city = person['city']

print(first_name)
print(last_name)
print(age)
print(city)

leo
messi
34
paris

favorite numbers

In [ ]:
favorite_numbers = {
    'jack' : 29,
    'peter' : 15,
    'george' : 8,
    'david' : 44,
    'max' : 33,
}

for all_names in favorite_numbers.keys():
  print(all_names)

print('\n')

for fav_nums in favorite_numbers.values():
  print(fav_nums)

jack
peter
george
david
max


29
15
8
44
33

glossary

In [ ]:
glossary = {
    'java' : 'java_codding',
    'c' : 'c_codding',
    'python' : 'python_codding',
    'ruby' : 'ruby_codding',
    'c++' : 'c++_coddding',
}

for words , meanings in glossary.items():
  print(words + ' : ' + meanings)

java : java_codding
c : c_codding
python : python_codding
ruby : ruby_codding
c++ : c++_coddding

rivers

In [1]:
rivers = {
    'mississippi' : 'USA',
    'rioni' : 'GEO',
    'colorado' : 'USA',
}

for river, country in rivers.items():
  print('the' + river + 'runs through' + country)
  print(river)
  print(country)

themississippiruns throughUSA
mississippi
USA
therioniruns throughGEO
rioni
GEO
thecoloradoruns throughUSA
colorado
USA

In [8]:
favorite_languages = {
    'connor' : 'c',
    'kara' : 'python',
    'marcus' : 'ruby',
    'hank' : 'c',
}

for name in favorite_languages.keys():
  print(name.title())

new_people = {
    'maria' : 'python',
    'david' : 'c++',
    'george' : 'java',
    'max' : 'ruby',
    'sergio' : 'python',
}

for name in favorite_languages.keys():
  print(name.title() + ', thank you for taking the pole.')

for new_person in new_people:
    if new_person in favorite_languages:
        print(new_person + ', thank you for responding.')
    else:
      print(new_person + ', we invite you to take poll.')

Connor
Kara
Marcus
Hank
Connor, thank you for taking the pole.
Kara, thank you for taking the pole.
Marcus, thank you for taking the pole.
Hank, thank you for taking the pole.
maria, we invite you to take poll.
david, we invite you to take poll.
george, we invite you to take poll.
max, we invite you to take poll.
sergio, we invite you to take poll.

pets

In [9]:
pets = {
    'max' : {
        'animal' : 'dog',
        'owner' : 'ben',
    },

    'kimi' : {
        'animal' : 'cat',
        'owner' : 'david'
    },
}

print(pets)

{'max': {'animal': 'dog', 'owner': 'ben'}, 'kimi': {'animal': 'cat', 'owner': 'david'}}

favorite places

In [14]:
favorite_places = {
    'max' : ['monaco' , 'miami'],
    'sergio' : ['texas' , 'buenos aires' , 'with friends'],
    'george' : ['with sergio'],
}

for name, places in favorite_places.items():
  print(name + ' : ')
  for place in places:
    print(' - ' + place)

max :
 - monaco
 - miami
sergio :
 - texas
 - buenos aires
 - with friends
george :
 - with sergio

cities

In [15]:
cities = {
    'london' : {
        'country' : 'england',
        'people' : '9 million',
    },

    'los angeles' : {
        'country' : 'USA',
        'people' : '4 million',
    },

    'tbilisi' : {
        'country' : 'georgia',
        'people' : '1.4 million', 
    },
}

print(cities)

{'london': {'country': 'england', 'people': '9 million'}, 'los angeles': {'country': 'USA', 'people': '4 million'}, 'tbilisi': {'country': 'georgia', 'people': '1.4 million'}}