<a href="https://colab.research.google.com/github/beka-chanturia/homework/blob/main/ch8_in_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

making a function

In [ ]:
def greet_user():
  """display a simple greeting."""
  print('hello')

greet_user()

hello

passing a single argument

In [ ]:
def greet_user(username):
  """display a simple geeting."""
  print('hello, ' + username + '!')

greet_user('jesse')
greet_user('jack')
greet_user('brandon')

# parametrs ro sheqmni imas argumentic unda sheuqmna tore daranvisas aerorebs anu parametri am shemtxvevashi aris username da argumenti qveda saxelebi

hello, jesse!
hello, jack!
hello, brandon!

**positional and keyword arguments**

using positional arguments

In [ ]:
def describe_pet(animal , name):
  """display information about a pet"""
  print("\nI have a " + animal + ".")
  print("Its name is " + name + "!")

describe_pet('humster' , 'harry')
describe_pet('dog' , 'willie')

I have a humster.
Its name is harry!

I have a dog.
Its name is willie!

using keyword arguments

In [ ]:
def describe_pet(animal , name):
  """display information a pet."""
  print("\nI have a " + animal + ".")
  print("Its name is " + name + "!")

describe_pet(animal='humster' , name='hurry')
describe_pet(animal='dog' , name='willie')

I have a humster.
Its name is hurry!

I have a dog.
Its name is willie!

using a default value

In [ ]:
def describe_pet(name , animal='dog'):
  """display information about pet."""
  print("\nI have a " + animal + ".")
  print("Its name is " + name + ".")

describe_pet('harry' , 'humster')
describe_pet('willie')

I have a humster.
Its name is harry.

I have a dog.
Its name is willie.

using none to make an argument optional

In [ ]:
def describe_pet(animal , name=None):
  """display information about a pet"""
  print("\nIhave a " + animal + ".")
  if name:
    print("its name is " + name + ".")

describe_pet("hamster" , "harry")
describe_pet("snake")

Ihave a hamster.
its name is harry.

Ihave a snake.

**return values**

returning a single value

In [ ]:
def get_full_name(first , last):
  """return a neatly formatted full name"""
  full_name = first + ' ' + last
  return full_name.title()

musican = get_full_name('jimi' , 'hendrix')
print(musican)

Jimi Hendrix

returning a dictionary

In [3]:
def build_person(first , last):
  """return a dictionary of information
  about a person 
  """
  person = {'first' : first , 'last' : last}
  return person

musician = build_person('jimi' , 'hendrix')
print(musician)

{'first': 'jimi', 'last': 'hendrix'}

runing a dictionary with optional values

In [9]:
def build_person(first , last , age=None):
  """return a dictionary of information
  about a person with optional values """

  person = {
      'first' : first,
      'last' : last, 
  }

  if age:
    person['age'] = age
  return person

musician = build_person('jimi' , 'hendrix' , 27)
print(musician)

musician = build_person('janis' , 'joplit')
print(musician)

{'first': 'jimi', 'last': 'hendrix', 'age': 27}
{'first': 'janis', 'last': 'joplit'}

passing a list as an argument

In [14]:
def greet_user(names):
  """print a sipmle greeting to everyone"""
  for name in names:
    msg = "hello, " + name + " !"
    print(msg)

usernames = ['hanna' , 'ty' , 'margot']
greet_user(usernames)

#არ არის აუცილებელი პარამერის სახელი და არგუმენტის სახელი ერთმანეთს ემთხვეოდეს ამ შემთხვევაში ნეიმსი არის პარამეტრი და იუზერნეიმსი პარამეტრი

hello, hanna !
hello, ty !
hello, margot !

collecting an arbitrary number of arguments

In [20]:
def make_pizza(size , *toppings):
  """make a pizza"""
  print('\nmakeing a ' + size + ' pizza')
  print('topping')
  for topping in toppings:
    print('- ' + topping)

make_pizza('small' , 'pepperoni')
make_pizza('medium' , 'mushroom' , 'peppers' , 'onions' , 'extra cheese')
make_pizza('large' , 'beacon' , 'pineapple')

makeing a small pizza
topping
- pepperoni

makeing a medium pizza
topping
- mushroom
- peppers
- onions
- extra cheese

makeing a large pizza
topping
- beacon
- pineapple

collecting an arbitrary number of keyword arguments

In [26]:
def build_profile(first , last , **user_info):
  """build a user's profile dictionary"""
  profile = {'first' : first , 'last' : last}

  for key, value in user_info.items():
    profile[key] = value

  return profile
    
    
user_0 = build_profile(
    'albert',
    'einstein',
    location = 'princeton'
)

user_1 = build_profile(
    'marie',
    'curie',
    location = 'paris',
    field = 'chemistry'
)

print(user_0)
print(user_1)

{'first': 'albert', 'last': 'einstein', 'location': 'princeton'}
{'first': 'marie', 'last': 'curie', 'location': 'paris', 'field': 'chemistry'}